<main class="main-container">
<nav-dir></nav-dir>
<!-- <a ng-click="scrollTo('craftedAnchor')" style='position: fixed'>$$GO$$</a> -->
  <section class="mid-wrapper">
    <div class="mid-text">
      <span ng-click='button()'>PENCIL</span><br>
      THE STYLUS <br>
      FOR <br>
      EVERYONE.
      <div class="amazon-wrap">
        <a class="amazon" target='_blank' href='https://www.amazon.com/Pencil-FiftyThree-Digital-Stylus-iPhone/dp/B00JP12300/ref=as_li_ss_tl?ie=UTF8&qid=1448400482&sr=8-2&keywords=fiftythree&linkCode=sl1&tag=fiftyinc-20&linkId=e8bfea0c93466fc774a99e8ec8a17404'>Buy at Amazon.com</a>
        <div ui-sref='shop' class='alsoAt'>Also at FiftyThree Shop »</div>
      </div>
    </div>
  </section>
</main>
<section class="for-ideas-outer-wrap">
  <div class="for-ideas">FOR IDEAS OF ALL SIZES.</div>
  <div class="apple-new">"Apple's new iPad Pro-only stylus can't meausre up
    to FiftyThree's writing implement--it works with the iPhone, the iPad,
    and a number of iOS apps."</div>
  <div class="wired-magazine">WIRED Magazine</div>
  <div class="tablet-image"></div>
</section>

<section class="freedom-outer-wrap">
  <div class="tablet-pencil-bg"></div>
  <div class="freedom">FREEDOM OF EXPRESSION.</div>
  <div class="great-tools">Great tools inspire great ideas. Pencil by
    FiftyThree is the most natural and expressive way to
    create on iPad and iPhone. Advanced technology meets
    beautiful design to keep you in the flow, without needing
    to switch tools. With Surface Pressure, Erase, Blend, and
    adaptive Palm Rejection, Pencil puts creative possibility
    in your hands.</div>
</section>
<section class='sp-outer-wrap'>
  <section class="surface-pressure-wrapper">
    <div class="surface-pressure">
      <div class="icon"></div>
      <div class="title">Surface Pressure</div>
      <div class="text">Expressive from every angle.
        Pencil’s unique tip is shaped to create lines
        of all sizes without any settings. Use the
        point for fine details and the angled edge
        for broad strokes.</div>
    </div>
  </section>
</section>
<section class='erase-outer-wrap'>
  <section class="erase-wrapper">
    <div class="erase">
      <div class="icon"></div>
      <div class="title">Erase</div>
      <div class="text">Be bold and make mistakes.
        Pencil’s unique built-in eraser lets you
        precisely carve away to get at what’s essential.
        No need to switch tools, just flip Pencil to
        erase.</div>
    </div>
  </section>
</section>
<section class='blend-outer-wrap'>
  <section class="blend-wrapper">
    <div class="blend">
      <div class="icon"></div>
      <div class="title">Blend</div>
      <div class="text">Get hands-on with your ideas.
        Pencil takes care of the lines so you can use
        your finger to smooth rough edges and blend
        colors directly on the page. Create beautiful
        color transitions for charts, skies,
        and shadows.</div>
    </div>
  </section>
</section>

<section class='palm-outer-wrap'>
  <section class="palm-wrapper">
    <div class="palm">
      <div class="icon"></div>
      <div class="title">Palm rejection</div>
      <div class="text">Our adaptive palm rejection
        instantly knows whether it’s your hand or
        Pencil touching the page. Rest your hand on
        the screen, write from any angle. No
        calibration or setup. You’ll forget you’re
        creating on a tablet.</div>
    </div>
  </section>
</section>

<!-- PARALLAX FEATURE -->
<section class="crafted-wrap">
  <div class="crafted">CRAFTED FOR CREATIVITY.</div>
  <div class="from">From the sustainably harvested wood
    body to the elegant technological core, every detail
    in Pencil combines beautiful engineering and
    meticulous craft.</div>
  <div class='parallax-wrap'>
    <div class="eraser-tip">
      <div class="left-eraser">Eraser tip</div>
      <div class="right-eraser">A unique sensor lets you flip
        Pencil to erase when connected to Paper, without
        switching tools.</div>
    </div>
    <div class="bluetooth">
      <div class="left-bluetooth">Bluetooth Smart</div>
      <div class="right-bluetooth">Pencil’s certified Bluetooth Smart
        wireless delivers a fast, stable connection with industry-leading
        power conservation.</div>
    </div>
    <div class="body">
      <div class="left-body">Seamless body</div>
      <div class="right-body">Each Pencil is milled from a single, solid
        piece of material. Graphite brushed aluminum model shown.
        <br>
        Also available in Walnut and Gold.</div>
    </div>
    <div class="battery">
      <div class="left-battery">Lasting power</div>
      <div class="right-battery">Pencil’s battery charges off any
        USB port in under 90 minutes and delivers power for up to a
        month of normal use on a single charge.</div>
    </div>
    <div class="sensor">
      <div class="left-sensor">Accurate sensing</div>
      <div class="right-sensor">Pencil’s tip and eraser sensors are
        plated in 14kt gold for lightning fast, accurate reaction.</div>
    </div>
    <div class="tip">
      <div class="left-tip">Tapered tip</div>
      <div class="right-tip">Pencil’s durable tip has been carefully
        friction-tuned to feel great on a screen. Use both the tip and
        edge to draw. Extra tip and eraser included.</div>
    </div>
  </div>
</section>



<section class="walnut-aluminum-wrap">
  <div class="walnut-wrap">
    <div class="walnut">
      <div class="title">Walnut</div>
      <div class="text">An artisanally crafted tool.
        The body is milled from a solid piece of
        premium-grade walnut that has met rigorous
        standards for sustainability. Each Pencil
        has a unique character that will subtly
        change with years of use.</div>
    </div>
  </div>
  <div class="aluminum-wrap">
    <div class="aluminum">
      <div class="title">Aluminum</div>
      <div class="text">The seamless brushed
        aluminum body has been extruded to reduce
        manufacturing waste. Minimal, beautiful,
        and with just a little more heft than
        the Walnut model.</div>
    </div>
  </div>
</section>

<!-- Pencil roation -->
<section class="pencil-rotation-wrap">
  <div class="p-1">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-2">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-3">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-4">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-5">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-6">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-7">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-8">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-9">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-10">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
  <div class="p-11">
    <div class="inspired-wrapper">
      <div class="title">Inspired Form</div>
      <div class="text">The carpenter pencil form has
        been used by builders and makers for centuries.
        No rolling, and a tapered tip for a wide range of
        writing, drawing, and shading angles. It’s as thin
        as a real pencil, with internally balanced components
        that just feel right in your hand.</div>
    </div>
  </div>
</section>

<section class="simply-works-outer-container">
  <div class="simply-works">SIMPLY WORKS.</div>
  <div class="best-tools">The best tools don’t require a
    lot of fuss — they just work. With Pencil, we’ve radically
    simplified things like charging and wireless connection
    so you can spend less time in menus and more time
    creating.</div>
  <div class="power-it-up-container">
    <div class="power-it-up">
      <div class="icon"></div>
      <div class="title">Power it up</div>
      <div class="text">Under normal use, you won’t need to
        recharge Pencil for about a month. The battery can be
        slid out and recharged on any standard USB port in
        under 90 minutes.</div>
    </div>
    <div class="kiss-to-pair">
      <div class="icon"></div>
      <div class="title">Kiss to Pair</div>
      <div class="text">Bluetooth connection as it should
        be: no settings menus, no confusing pairing rituals.
        Just press Pencil’s tip to the screen. Clear, stable,
        simple... easy as falling in love.</div>
    </div>
    <div class="plays-nicely">
      <div class="icon"></div>
      <div class="title">Plays nicely</div>
      <div class="text">Palm Rejection, Erase, and Blend work
        only on Paper and other supported applications, but
        Pencil also works well as a non-connected stylus in
        any other app and on any touchscreen device.</div>
    </div>
  </div>
  <a href='https://support.fiftythree.com/hc/en-us/articles/201712591-Using-Pencil' target='_blank' class="support">Visit Support for videos and articles about using Pencil ›</a>
  <a href='http://assets.fiftythree.com/legal/fiftythree_pencilqsg.pdf' target='_blank' class="support">Download Pencil Quick Start Guide (PDF) ›</a>
  <a href='http://assets.fiftythree.com/legal/fiftythree_pencilproductmanual.pdf' target="_blank" class="support">Download Pencil Product Manual (PDF) ›</a>
  <div class="pencil-to-people" id='craftedAnchor'>PENCIL TO THE PEOPLE</div>
  <div class="kiss-pair">Kiss-to-pair Pencil with some of your favorite apps.</div>
  <div class="app-image"></div>
  <div class="developers-wrap">
    <a href='http://www.fiftythree.com/pencil-ready' target='_blank' class="pencil-apps">See the growing list of Pencil‑ready apps ›</a>
    <a href='http://www.fiftythree.com/sdk' target='_blank' class="developers">Developers: Integrate Pencil with the FiftyThree SDK ›</a>
  </div>


  <div class="worldwide-wrapper">
    <div class="worldwide">Now available worldwide.</div>
    <div class="pencils"></div>
    <div class="starting-wrap">
      <div class="starting">Starting at</div>
      <div class="price-wrap">
        <div class="dollar">$</div>
        <div class="price">49</div>
        <div class="cents-wrap">
          <div class="cents">95</div>
          <div class="usd">USD</div>
        </div>
      </div>
      <a href='https://www.amazon.com/Pencil-FiftyThree-Digital-Stylus-iPhone/dp/B00JP12300/ref=as_li_ss_tl?ie=UTF8&qid=1448400482&sr=8-2&keywords=fiftythree&linkCode=sl1&tag=fiftyinc-20&linkId=e8bfea0c93466fc774a99e8ec8a17404' target='_blank' class="amazon">Buy at Amazon.com</a>
      <div ui-sref='shop' class="also">Also at FiftyThree Shop ››</div>
    </div>
  </div>


</section>

<footer-dir></footer-dir>
