//===IMPORTED FONTS===============
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
//===VARIABLES====================
$main-font: 'Roboto', sans-serif;
$nav-text-color: white;
$paper-text-color: #66625B;
$shipping-bg: #66615B;

//===SCSS=========================

.carousel-wrapper {
  position: relative;
  width: 100%;
  font-family: $main-font;
  .background-image {
    width: 100%;
    background-size: cover;
  }
  .carousel-bg-img {
    width: 100%;
    height: 100vh;
    .order-status-bar {
      position: relative;
      .shop {
        font-size: 30px;
        font-weight: lighter;
        margin: 0 0 0 20vw;
        position: absolute;
        top: 35px;
        left: 0px;
      }
      .order-container {
        position: absolute;
        top: 35px;;
        right: 0px;
        display: flex;
        .order-status {
          margin: 0 10px 0 0;
        }
        .bag-icon {}
        .items {
          margin: 0 50px 0 0;
        }
      }
    }
    .right-side-nav {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .right-nav-wrap {
        padding: 120px 0 0 0;
        width: 25vw;
        margin: 0 15vw 0 0;
        .pencil {
          font-size: 50px;
          font-weight: bold;
          margin: 0 0 10px 0;
        }
        .digital-stylus {
          font-size: 20px;
          font-weight: lighter;
          margin: 0 0 10px 0;
        }
        .pencil-name {
          font-size: 20px;
          font-weight: bold;
          margin: 0 0 10px 0;
        }
        .price {
          font-size: 25px;
          margin: 0 0 10px 0;
        }
        .shipping {
          background: $shipping-bg;
          color: #F1EAE0;
          padding: 2px 5px;
          margin: 0 0 10px 0;
          text-align: center;
          width: 250px;
          border-radius: 100px;
          padding: 5px 0px;
        }
        .gold-graph-wal {
          display: flex;
          margin: 15px 0 10px 0;
          .gold {
            width: 50px;
            height: 50px;
            background-size: contain;
            margin-right: 20px;
          }
          .gold-h:hover {
            border: solid 3px rgba(0, 0, 0, .27);
            border-radius: 100%;
            padding: 2px;
          }
          .graphite {
            width: 50px;
            height: 50px;
            background-size: contain;
            margin-right: 20px;
          }
          .graphite-h:hover {
            border: solid 3px rgba(0, 0, 0, .27);
            border-radius: 100%;
            padding: 2px;
          }
          .walnut {
            width: 50px;
            height: 50px;
            background-size: contain;
          }
          .walnut-h:hover {
            border: solid 3px rgba(0, 0, 0, .27);
            border-radius: 100%;
            padding: 2px;
          }
          .selected {
            border: solid 5px rgba(0, 0, 0, .6);
            border-radius: 100%;
            padding: 2px;
          }
        }
        .shipping-to {
          margin: 0 0 10px 0;
        }
        .americas-wrapper {
          margin: 0 0 10px 0;
          .globe {}
          .drop-down-menu {}
        }
        .add-to-cart {
          background: #E55A26;
          color: rgba(255, 255, 255, .8);
          margin: 0 0 10px 0;
          width: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          padding: 15px 15px;
        }
        .add-to-cart:hover {
          background: #B33C12;
          cursor: pointer;
        }
        .works-on {
          font-size: 15px;
          font-weight: lighter;
        }
      }
    }
  }
}
