<section class='carousel-wrapper'>
  <div style="background: url({{pencil.images[0]}}); background-repeat: no-repeat; background-size: cover; background-position: center" class="carousel-bg-img">
    <div class="order-status-bar">
      <div class="shop">Shop</div>
      <div class="order-container">
        <div class="order-status">Order Status</div>
        <div class='bag-icon'></div>
        <div class="items">Items</div>
      </div>
    </div>
    <div class="right-side-nav">
      <div class="right-nav-wrap">
        <div class="pencil">Pencil</div>
        <div class="digital-stylus">Digital stylus for iPad, iPad Pro, and iPhone</div>
        <div class="pencil-name">{{pencil.name}}</div>
        <div class="price">{{pencil.price | currency}}</div>
        <div class="shipping">Free Shipping to US & Canada</div>
        <div class="gold-graph-wal">
          <div ng-click='gold()'>
            <img class="gold selected" src="https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_gold.png?1246397996584665470" alt="gold" />
          </div>
          <div ng-click='graphite()'>
            <img class="graphite graphite-h" src="https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_graphite.png?1246397996584665470" alt="graphite" />
          </div>
          <div ng-click='walnut()'>
            <img class='walnut walnut-h' src="https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_walnut.png?1246397996584665470" alt="walnut" />
          </div>
        </div>
        <div class="shipping-to">Shipping to:</div>
        <div class="americas-wrapper">
          <div class="globe"></div>
          <div class="drop-down-menu"></div>
        </div>
        <div class="add-to-cart" ui-sref='cart' ng-click='addToCart(pencil)'>Add to cart</div>
        <button ng-click='hideModal=false' type="button" name="button">sign-in</button>
        <div class="works-on">Works on iPad3, 4, Air (all), mini (all),
          iPad Pro, and iPhone 42 and above</div>
      </div>
    </div>
  </div>
</section>
{{pencil}}

<!-- //===SIGN-IN MODAL====================== -->
<section ng-hide='hideModal' ng-click='hideModal=true' class="modal-outer-wrapper">
  <div ng-click='$event.stopPropagation()' class="modal-container">
    <div class="upper-wrapper">
      <div class="sign-in">SIGN IN</div>
      <form ng-submit='login(user)' class="email-pass-container">
        <div class="email-pass-wrapper">
          <div class="email-wrap">
            <div class='email'>Email:</div>
            <div class="password">Password:</div>
          </div>
          <div class="password-wrap">
            <input type="text" ng-model='user.email' required>
            <input type="password" ng-model='user.password' required>
          </div>
        </div>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="lower-wrapper">
      <div class="sign-up">SIGN UP</div>
      <form class="form-wrapper" ng-submit='register(newUser)'>
        <div class="outer-container">
          <div class="name-wrap">
            <div class="name">Name:</div>
            <div class="email">Email:</div>
            <div class="password">Password:</div>
          </div>
          <div class="input-wrap">
            <input type="text" ng-model='newUser.name' required>
            <input type="text" ng-model='newUser.email' required>
            <input type="password" ng-model='newUser.password' required>
          </div>
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</section>


<form ng-submit="register(newUser)">
  Name: <input type="text" ng-model="newUser.name" required/>
  Email: <input type="email" ng-model="newUser.email" required/>
  Password: <input type="password" ng-model="newUser.password" required/>
  <button type="submit">Register</button>
</form>
