//===IMPORTED FONTS===============
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

//===VARIABLES====================
$main-font: 'Roboto', sans-serif;
$nav-color: #FFFCF5;
$nav-text-color: white;
$this-color: #F1EAE0;
$paper-text-color: #66625B;
$shipping-bg: #66615B;

//===SCSS=========================

.carousel-wrapper {
  position: relative;
  width: 100%;
  font-family: $main-font;
  .background-image {
    width: 100%;
    background-size: cover;
  }
  .carousel-bg-img {
    width: 100%;
    height: 100vh;
    .order-status-bar {
      position: relative;
      .shop {
        font-size: 30px;
        font-weight: lighter;
        margin: 0 0 0 20vw;
        position: absolute;
        top: 35px;
        left: 0px;
      }
      .order-container {
        position: absolute;
        top: 35px;;
        right: 0px;
        display: flex;
        .order-status {
          margin: 0 10px 0 0;
        }
        .bag-icon {}
        .items {
          margin: 0 50px 0 0;
        }
      }
    }
    .right-side-nav {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .right-nav-wrap {
        padding: 120px 0 0 0;
        width: 25vw;
        margin: 0 15vw 0 0;
        .pencil {
          font-size: 50px;
          font-weight: bold;
          margin: 0 0 10px 0;
        }
        .digital-stylus {
          font-size: 20px;
          font-weight: lighter;
          margin: 0 0 10px 0;
        }
        .pencil-name {
          font-size: 20px;
          font-weight: bold;
          margin: 0 0 10px 0;
        }
        .price {
          font-size: 25px;
          margin: 0 0 10px 0;
        }
        .shipping {
          background: $shipping-bg;
          color: $this-color;
          padding: 2px 5px;
          margin: 0 0 10px 0;
          text-align: center;
          width: 250px;
          border-radius: 100px;
          padding: 5px 0px;
        }
        .gold-graph-wal {
          display: flex;
          margin: 15px 0 10px 0;
          .gold {
            width: 50px;
            height: 50px;
            background-size: contain;
            margin-right: 20px;
          }
          .gold-h:hover {
            border: solid 3px rgba(0, 0, 0, .27);
            border-radius: 100%;
            padding: 2px;
          }
          .graphite {
            width: 50px;
            height: 50px;
            background-size: contain;
            margin-right: 20px;
          }
          .graphite-h:hover {
            border: solid 3px rgba(0, 0, 0, .27);
            border-radius: 100%;
            padding: 2px;
          }
          .walnut {
            width: 50px;
            height: 50px;
            background-size: contain;
          }
          .walnut-h:hover {
            border: solid 3px rgba(0, 0, 0, .27);
            border-radius: 100%;
            padding: 2px;
          }
          .selected {
            border: solid 5px rgba(0, 0, 0, .6);
            border-radius: 100%;
            padding: 2px;
          }
        }
        .shipping-to {
          margin: 0 0 10px 0;
        }
        .americas-wrapper {
          margin: 0 0 10px 0;
          .globe {}
          .drop-down-menu {}
        }
        .add-to-cart {
          background: #E55A26;
          color: rgba(255, 255, 255, .8);
          margin: 20px 0 20px 0;
          width: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          padding: 15px 15px;
        }
        .add-to-cart:hover {
          background: #B33C12;
          cursor: pointer;
        }
        .works-on {
          font-size: 15px;
          font-weight: lighter;
        }
      }
    }
  }
}
// .modal-outer-wrapper {
//   display: none;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0,0,0,.5);
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   // display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: $main-font;
//   .modal-container {
//     opacity: 1;
//     width: 400px;
//     height: 400px;
//     background: $this-color;
//     border-radius: 25px;
//     .upper-wrapper {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       width: 100%;
//       margin: 30px 0 0 0;
//       .sign-in {}
//       .email-pass-container {
//         display: flex;
//         flex-direction: column;
//         .email-pass-wrapper {
//           display: flex;
//           .email-wrap {
//             display: flex;
//             flex-direction: column;
//             text-align: right;
//             .email {}
//             .password {}
//           }
//           .password-wrap {
//             display: flex;
//             flex-direction: column;
//             input {}
//           }
//         }
//       }
//     }
//     .lower-wrapper {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       width: 100%;
//       margin: 30px 0 0 0;
//       .sign-up {}
//       .form-wrapper {
//         display: flex;
//         flex-direction: column;
//         .outer-container {
//           display: flex;
//           .name-wrap {
//             display: flex;
//             flex-direction: column;
//             text-align: right;
//             .name {}
//             .email {}
//             .password {}
//           }
//           .input-wrap {
//             display: flex;
//             flex-direction: column;
//             input {}
//           }
//         }
//       }
//     }
//   }
// }
// .dk-outer-wrapper {
//   width: 100%;
//   height: 100vh;
//   position: fixed;
//   top: 0px;
//   display: none;
//   justify-content: center;
//   align-items: center;
//   background: rgba(0,0,0,.8);
//   font-family: $main-font;
//   .dk-container {
//     width: 300px;
//     height: 325px;
//     background: $paper-text-color;
//     border-radius: 15px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     position: relative;
//     .dk-53 {
//       width: 50px;
//       height: 50px;
//       position: absolute;
//       top: 70px;
//     }
//     .dk-lock {
//       width: 30px;
//       height: 30px;
//       position: absolute;
//       top: 205px;
//       left: 18px;
//     }
//     .dk-email-icon {
//       width: 30px;
//       height: 30px;
//       position: absolute;
//       top: 146px;
//       left: 18px;
//     }
//     .dk-sign-in-up-wrap {
//       display: flex;
//       align-items: center;
//       width: 100%;
//       height: 50px;
//       color: $paper-text-color;
//       background: $nav-text-color;
//       border-radius: 15px 15px 0 0;
//       .dk-sign-in {
//         text-align: center;
//         width: 50%;
//         font-size: 25px;
//         border-right: solid 1px;
//         cursor: pointer;
//       }
//       .dk-sign-up {
//         text-align: center;
//         width: 50%;
//         font-size: 25px;
//         cursor: pointer;
//       }
//     }
//     form {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       .dk-email {
//         width: 275px;
//         height: 40px;
//         margin-top: 90px;
//         background: $nav-text-color;
//         color: $paper-text-color;
//         font-size: 20px;
//         border-radius: 5px;
//         padding-left: 40px;
//       }
//       .dk-email:focus {
//         outline: none;
//       }
//       .dk-password {
//         width: 275px;
//         height: 40px;
//         margin-top: 20px;
//         background-color: $nav-text-color;
//         color: $paper-text-color;
//         font-size: 20px;
//         border-radius: 5px;
//         padding-left: 40px;
//       }
//       .dk-password:focus {
//         outline: none;
//       }
//     }
//     .dk-sign-in-btn {
//       width: 300px;
//       height: 50px;
//       background: $nav-color;
//       color: $paper-text-color;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       border-radius: 0 0 15px 15px;
//       position: absolute;
//       bottom: 0px;
//       font-size: 25px;
//       border: none;
//       cursor: pointer;
//     }
//     .dk-sign-in-btn:focus {
//       outline: none;
//     }
//   }
// }
// .kd-outer-wrapper {
//   width: 100%;
//   height: 100vh;
//   position: fixed;
//   top: 0px;
//   display: none;
//   justify-content: center;
//   align-items: center;
//   background: rgba(0,0,0,.8);
//   font-family: $main-font;
//   .kd-container {
//     width: 300px;
//     height: 325px;
//     background: $nav-color;
//     border-radius: 15px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     position: relative;
//     .kd-53 {
//       width: 50px;
//       height: 50px;
//       position: absolute;
//       top: 61px;
//     }
//     .kd-user-icon {
//       width: 30px;
//       height: 30px;
//       position: absolute;
//       top: 126px;
//       left: 18px;
//     }
//     .kd-lock {
//       width: 30px;
//       height: 30px;
//       position: absolute;
//       top: 229px;
//       left: 18px;
//     }
//     .kd-email-icon {
//       width: 30px;
//       height: 30px;
//       position: absolute;
//       top: 178px;
//       left: 18px;
//     }
//     .kd-sign-in-up-wrap {
//       display: flex;
//       align-items: center;
//       width: 100%;
//       height: 50px;
//       color: $paper-text-color;
//       background: $nav-color;
//       border-radius: 15px 15px 0 0;
//       .kd-sign-in {
//         text-align: center;
//         width: 50%;
//         font-size: 25px;
//         border-right: solid 1px;
//         cursor: pointer;
//       }
//       .kd-sign-up {
//         text-align: center;
//         width: 50%;
//         font-size: 25px;
//         cursor: pointer;
//       }
//     }
//     form {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       .kd-name {
//         width: 275px;
//         height: 40px;
//         margin-top: 70px;
//         background: $nav-color;
//         color: $paper-text-color;
//         font-size: 20px;
//         border-radius: 5px;
//         padding-left: 45px;
//       }
//       .kd-name:focus {
//         outline: none;
//       }
//       .kd-email {
//         width: 275px;
//         height: 40px;
//         margin-top: 12px;
//         background: $nav-color;
//         color: $paper-text-color;
//         font-size: 20px;
//         border-radius: 5px;
//         padding-left: 45px;
//       }
//       .kd-email:focus {
//         outline: none;
//       }
//       .kd-password {
//         width: 275px;
//         height: 40px;
//         margin-top: 12px;
//         background-color: $nav-color;
//         color: $paper-text-color;
//         font-size: 20px;
//         border-radius: 5px;
//         padding-left: 45px;
//       }
//       .kd-password:focus {
//         outline: none;
//       }
//       .kd-sign-in-btn {
//         width: 300px;
//         height: 50px;
//         background: $nav-color;
//         color: $paper-text-color;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         border-radius: 0 0 15px 15px;
//         position: absolute;
//         bottom: 0px;
//         font-size: 25px;
//         cursor: pointer;
//       }
//       .kd-sign-in-btn:focus {
//         outline: none;
//       }
//     }
//   }
// }



//updated modal
.sign-in-bg {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.8);
  z-index: 1;
}
.sign-in-outer-wrap {
  width: 300px;
  height: 400px;
  // background: blue;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  top: 100px;
  left: -450px;
  font-family: $main-font;
  transition: .9s;
  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      background: url('./../../images/53-light.svg') no-repeat center;
      background-size: contain;
      width: 100px;
      height: 100px;
      margin-bottom: 50px;
    }
    .email-input {
      background: $nav-color;
      border: solid 1px $paper-text-color;
      width: 100%;
      height: 45px;
      border-radius: 5px 5px 0 0;
      padding: 5px;
      font-size: 18px;
    }
    .email-input:focus {
      outline: none;
    }
    .password-input {
      background: $nav-color;
      border: solid 1px $paper-text-color;
      width: 100%;
      height: 45px;
      border-radius: 0 0 5px 5px;
      margin-top: -1px;
      padding: 5px;
      font-size: 18px;
      margin-bottom: 25px;
    }
    .password-input:focus {
      outline: none;
    }
    .sign-in {
      background: #E55A26;
      width: 100%;
      height: 45px;
      border: none;
      transition: .5s;
      color: $nav-color;
      border-radius: 5px;
      font-size: 22px;
      font-weight: lighter;
      margin-bottom: 15px;
      cursor: pointer;
      transition: .5s;
    }
    .sign-in:hover {
      background: #B33C12;
    }
    .sign-in:focus {
      outline: 0;
    }
  }

  .sign-up {
    background: #E55A26;
    width: 100%;
    height: 45px;
    border: none;
    transition: .5s;
    color: $nav-color;
    border-radius: 5px;
    font-size: 22px;
    font-weight: lighter;
    cursor: pointer;
    transition: .5s;
  }
  .sign-up:hover {
    background: #B33C12;
  }
  .sign-up:focus {
    outline: 0;
  }
}

.sign-up-outer-wrap {
  width: 300px;
  height: 400px;
  // background: blue;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  top: 100px;
  right: -450px;
  font-family: $main-font;
  transition: .9s;
  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      background: url('./../../images/53-light.svg') no-repeat center;
      background-size: contain;
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
    }
    .name-input {
      background: $nav-color;
      border: solid 1px $paper-text-color;
      width: 100%;
      height: 45px;
      border-radius: 5px 5px 0 0;
      padding: 5px;
      font-size: 18px;
      margin-bottom: -1px;
    }
    .name-input:focus {
      outline: none;
    }
    .email-input {
      background: $nav-color;
      border: solid 1px $paper-text-color;
      width: 100%;
      height: 45px;
      border-radius: 0px 0px 0 0;
      padding: 5px;
      font-size: 18px;
    }
    .email-input:focus {
      outline: none;
    }
    .password-input {
      background: $nav-color;
      border: solid 1px $paper-text-color;
      width: 100%;
      height: 45px;
      border-radius: 0 0 5px 5px;
      margin-top: -1px;
      padding: 5px;
      font-size: 18px;
      margin-bottom: 25px;
    }
    .password-input:focus {
      outline: none;
    }
    .sign-in {
      background: #E55A26;
      width: 100%;
      height: 45px;
      border: none;
      transition: .5s;
      color: $nav-color;
      border-radius: 5px;
      font-size: 22px;
      font-weight: lighter;
      margin-bottom: 15px;
      cursor: pointer;
      transition: .5s;
    }
    .sign-in:hover {
      background: #B33C12;
    }
    .sign-in:focus {
      outline: 0;
    }
  }
  .return {
    background: #E55A26;
    width: 100%;
    height: 45px;
    border: none;
    transition: .5s;
    color: $nav-color;
    border-radius: 5px;
    font-size: 22px;
    font-weight: lighter;
    cursor: pointer;
    transition: .5s;
  }
  .return:hover {
    background: #B33C12;
  }
  .return:focus {
    outline: 0;
  }
}
