<section class='carousel-wrapper'>
  <div style="background: url({{pencil.images[0]}}); background-repeat: no-repeat; background-size: cover; background-position: center" class="carousel-bg-img">
    <div class="order-status-bar">
      <div class="shop">Shop</div>
      <div class="order-container">
        <div class="order-status">Order Status</div>
        <div class='bag-icon'></div>
        <div class="items">Items</div>
      </div>
    </div>
    <div class="right-side-nav">
      <div class="right-nav-wrap">
        <div class="pencil">Pencil</div>
        <div class="digital-stylus">Digital stylus for iPad, iPad Pro, and iPhone</div>
        <div class="pencil-name">{{pencil.name}}</div>
        <div class="price">{{pencil.price | currency}}</div>
        <div class="shipping">Free Shipping to US & Canada</div>
        <div class="gold-graph-wal">
          <div ng-click='gold()'>
            <img class="gold selected" src="https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_gold.png?1246397996584665470" alt="gold" />
          </div>
          <div ng-click='graphite()'>
            <img class="graphite graphite-h" src="https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_graphite.png?1246397996584665470" alt="graphite" />
          </div>
          <div ng-click='walnut()'>
            <img class='walnut walnut-h' src="https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_walnut.png?1246397996584665470" alt="walnut" />
          </div>
        </div>
        <!-- <div class="shipping-to">Shipping to:</div> -->
        <div class="americas-wrapper">
          <div class="globe"></div>
          <div class="drop-down-menu"></div>
        </div>
        <div class="add-to-cart" ng-click='addToCart(pencil)'>Add to cart</div>
        <!-- <button ng-click='hideModal=false' type="button" name="button">sign-in</button> -->
        <div class="works-on">Works on iPad3, 4, Air (all), mini (all),
          iPad Pro, and iPhone 42 and above</div>
      </div>
    </div>
  </div>
</section>
<!-- {{pencil}} -->

<!-- //===SIGN-IN MODAL====================== -->
<!-- <section ng-hide='hideModal' ng-click='hideModal=true' class="modal-outer-wrapper"> -->
<!-- <section class="modal-outer-wrapper">
  <div ng-click='$event.stopPropagation()' class="modal-container">
    <div class="upper-wrapper">
      <div class="sign-in">SIGN IN</div>
      <form ng-submit='login(user)' class="email-pass-container">
        <div class="email-pass-wrapper">
          <div class="email-wrap">
            <div class='email'>Email:</div>
            <div class="password">Password:</div>
          </div>
          <div class="password-wrap">
            <input type="text" ng-model='user.email' required>
            <input type="password" ng-model='user.password' required>
          </div>
        </div>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="lower-wrapper">
      <div class="sign-up">SIGN UP</div>
      <form class="form-wrapper" ng-submit='register(newUser)'>
        <div class="outer-container">
          <div class="name-wrap">
            <div class="name">Name:</div>
            <div class="email">Email:</div>
            <div class="password">Password:</div>
          </div>
          <div class="input-wrap">
            <input type="text" ng-model='newUser.name' required>
            <input type="email" ng-model='newUser.email' required>
            <input type="password" ng-model='newUser.password' required>
          </div>
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</section> -->

<!-- UPDATED MODAL -->

<section class="sign-in-bg"></section>
<section ng-click='$event.stopPropagation()' class="sign-in-outer-wrap">
  <form ng-submit='login(user)'>
    <div class="logo"></div>
    <input ng-model='user.email' class='email-input' type="text" name="name" placeholder='email address' required>
    <input ng-model='user.password' class='password-input' type="password" name="name" placeholder="password" required>
    <button class='sign-in' type="submit" name="button">Sign in</button>
  </form>
    <button class='sign-up' name="button">Sign up</button>
</section>

<section ng-click='$event.stopPropagation()' class="sign-up-outer-wrap">
  <form ng-submit='register(newUser)'>
    <div class="logo"></div>
    <input ng-model='newUser.name' class='name-input' type="text" name="name" placeholder="name" required>
    <input ng-model='newUser.email' class='email-input' type="text" name="name" placeholder='email address' required>
    <input ng-model='newUser.password' class='password-input' type="password" name="name" placeholder="password" required>
    <button class='sign-in' type="submit" name="button">Sign up</button>
  </form>
    <button class='return' name="button">Return to sign in</button>
</section>










<!-- SIGN-IN MODAL -->
<!-- <section class='dk-outer-wrapper'>
  <section class="dk-container">
    <img class='dk-53' src="./../images/53-light.svg" alt="" />
    <img class='dk-lock' src="./../images/rateLockGraphic.png" alt="" />
    <img class='dk-email-icon' src="./../images/email-icon.png" alt="" />
    <div class="dk-sign-in-up-wrap">
      <div class="dk-sign-in">Sign-in</div>
      <div class="dk-sign-up">Sign-up</div>
    </div>
    <form ng-submit='login(user)'>
      <input ng-model='user.email' class='dk-email' type="email" name="name" placeholder="email address" required>
      <input ng-model='user.password' class='dk-password' type="password" name="name" placeholder="password" required>
      <button type="submit" class="dk-sign-in-btn">Sign-in</button>
    </form>
  </section>
</section> -->
<!-- SIGN-UP MODAL -->
<!-- <section class='kd-outer-wrapper'>
  <section class="kd-container">
    <img class='kd-53' src="./../images/53-light.svg" alt="" />
    <img class='kd-user-icon' src="./../images/user-icon.png" alt="" />
    <img class='kd-lock' src="./../images/rateLockGraphic.png" alt="" />
    <img class='kd-email-icon' src="./../images/email-icon.png" alt="" />
    <div class="kd-sign-in-up-wrap">
      <div class="kd-sign-in">Sign-in</div>
      <div class="kd-sign-up">Sign-up</div>
    </div>
    <form class="form-wrapper" ng-submit='register(newUser)'>
      <input ng-model='newUser.name' class='kd-name' type="text" name="name" placeholder="username" required>
      <input ng-model='newUser.email' class='kd-email' type="email" name="name" placeholder="email address" required>
      <input ng-model='newUser.password' class='kd-password' type="password" name="name" placeholder="password" required>
      <button type='submit' class="kd-sign-in-btn">Sign-up</button>
    </form>
  </section>
</section> -->
