//===IMPORTED FONTS===============
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

//===VARIABLES====================
$nav-color: #FFFCF5;
$main-font: 'Roboto', sans-serif;
$paper-text-color: #66625B;
$cart-font-color: #A49E93;
//===SCSS=========================
.cart-outer-wrapper {
  font-family: $main-font;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $nav-color;
  .cart-wrapper {
    width: 900px;
    .your-cart {
      font-size: 60px;
      font-weight: bold;
      color: $cart-font-color;
      text-align: left;
    }
    .pqt-wrapper {
      display: flex;
      justify-content: flex-end;
      .price {
        margin: 0 100px 0 0;
      }
      .quantity {
        margin: 0 100px 0 0;
      }
      .total {
        margin: 0 60px 0 0;
      }
    }
    .cart-item-wrapper {
      .item-inner-wrapper {
        display: flex;
        align-items: center;
        .thumbnail-wrap {
          width: 100px;
          height: 100px;
          .thumnail {}
        }
        .name-wrapper {
          width: 200px;
          margin: 0 0 0 75px;
          .item-name {}
          .item-desc {}
        }
        .price {
          width: 75px;
          margin: 0 0 0 128px;
        }
        .qty {
          width: 20px;
          margin: 0 0 0 35px;
        }
        .add-sub-wrap {
          display: flex;
          margin: 0 0 0 0px;
          .sub {
            width: 45px;
            height: 35px;
            margin-right: -3px;
            background: url('https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/minus.svg?17955204280943109837');
            background-repeat: no-repeat;
            background-position: center;
            border: solid 2px #A59F93;
            border-radius: 7px 0 0 7px;
            cursor: pointer;
          }
          .add {
            width: 45px;
            height: 35px;
            background: url('https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/plus.svg?17955204280943109837');
            background-repeat: no-repeat;
            background-position: center;
            border: solid 2px #A59F93;
            border-radius: 0 7px 7px 0;
            cursor: pointer;
          }
        }
        .item-total {
          width: 100px;
          margin: 0 0 0 77px;
        }
      }
    }
    .total-wrap {
      display: flex;
      justify-content: flex-end;
      margin-top: 50px;
      margin-bottom: 50px;
      .total {
        margin-right: 10px;
        font-size: 22px;
      }
      .total-num {
        margin-right: 45px;
        font-size: 22px;
      }
    }
    .checkout-wrap {
      .shipping-wrap {
        .shipping-to {}
        .country-wrap {
          .globe {}
          .country {}
          .menu {}
        }
      }
    }
  }
}


//Place order
.place-order-wrap {
  width: 50px;
  height: 100px;
  position: fixed;
  background: #EB5E28;
  top: 200px;
  right: 0px;
  border-radius: 50% 0 0 50%;
  display: flex;
  justify-content: center;
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: $paper-text-color;
  .text {
    background: url('./../images/checkout.png');
    background-size: contain;
    display: flex;
    align-items: center;
  }
}
.place-order-wrap:active {
  background: #B33C12;
  animation-name: slideout;
  animation-duration: 1s;
}

@keyframes slideout {
  from {top: 200px; right: 0px}
  to {top: 200px; right: 20px}
}

.stripe-button {
  width: 50px;
  height: 50px;
  background: blue;
}
