//===IMPORTED FONTS===============
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

//===VARIABLES====================
$nav-color: #FFFCF5;
$main-font: 'Roboto', sans-serif;
$paper-text-color: #66625B;
$cart-font-color: #A49E93;
//===SCSS=========================

.cart-outer-wrapper {
  font-family: $main-font;
  width: 100%;
  display: flex;
  justify-content: center;
  background: $nav-color;
  transition: margin-right .5s;
  .cart-wrapper {
    width: 900px;
    .your-cart {
      font-size: 60px;
      font-weight: bold;
      color: $cart-font-color;
      text-align: left;
    }
    .pqt-wrapper {
      display: flex;
      justify-content: flex-end;
      .price {
        margin: 0 100px 0 0;
      }
      .quantity {
        margin: 0 100px 0 0;
      }
      .total {
        margin: 0 60px 0 0;
      }
    }
    .cart-item-wrapper {
      .item-inner-wrapper {
        display: flex;
        align-items: center;
        .thumbnail-wrap {
          width: 100px;
          height: 100px;
          .thumnail {}
        }
        .name-wrapper {
          width: 200px;
          margin: 0 0 0 75px;
          .item-name {
            font-size: 25px;
            margin-bottom: 5px;
          }
          .item-desc {
            font-size: 20px;
          }
        }
        .price {
          font-size: 22px;
          width: 75px;
          margin: 0 0 0 128px;
        }
        .qty {
          font-size: 22px;
          width: 20px;
          margin: 0 0 0 35px;
        }
        .add-sub-wrap {
          display: flex;
          margin: 0 0 0 0px;
          .sub {
            width: 45px;
            height: 35px;
            margin-right: -3px;
            background: url('https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/minus.svg?17955204280943109837');
            background-repeat: no-repeat;
            background-position: center;
            border: solid 2px #A59F93;
            border-radius: 7px 0 0 7px;
            cursor: pointer;
          }
          .add {
            width: 45px;
            height: 35px;
            background: url('https://cdn.shopify.com/s/files/1/0245/8513/t/7/assets/plus.svg?17955204280943109837');
            background-repeat: no-repeat;
            background-position: center;
            border: solid 2px #A59F93;
            border-radius: 0 7px 7px 0;
            cursor: pointer;
          }
        }
        .item-total {
          font-size: 22px;
          width: 100px;
          margin: 0 0 0 77px;
        }
      }
    }
    .total-checkout-wrap {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
      .total-wrap {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
        margin-bottom: 50px;
        .total {
          margin-right: 10px;
          font-size: 22px;
        }
        .total-num {
          margin-right: 35px;
          font-size: 22px;
        }
      }
      .checkout-btn {
        color: $nav-color;
        font-size: 22px;
        margin-right: 35px;
        margin-bottom: 100px;
        margin-top: 50px;
        background: #EB5E28;
        border-radius: 100px;
        padding: 14px 32px 14px 32px;
        cursor: pointer;
        transition: .5s;
      }
      .checkout-btn:hover {
        background: #B33C12;
      }
    }
  }
}
.slide-in-review {
  position: fixed;
  top: 0px;
  right: 0px;
  background: $nav-color;
  height: 100vh;
  width: 0px;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 2;
  .icon-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    .icon {
      width: 100px;
      height: 100px;
      background: url('./../images/53-dark.svg') no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .hr-wrap {
    width: 100%;
    position: absolute;
    top: 170px;
    display: flex;
    justify-content: space-around;
    .review-bubble {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      .bub1 {
        width: 20px;
        height: 20px;
        border: solid 1px;
        border-radius: 100%;
        background: $nav-color;
        margin-bottom: 5px;
        transition: 1.5s;
        transition-delay: .5s;
      }
      .text1 {
        display: none;
        font-family: $main-font;
        font-size: 18px;
      }
    }
    .info-bubble {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      .bub2 {
        width: 20px;
        height: 20px;
        border: solid 1px;
        border-radius: 100%;
        background: $nav-color;
        margin-bottom: 5px;
      }
      .text2 {
        display: none;
        font-family: $main-font;
        font-size: 18px;
      }
    }
    .confirm-bubble {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      .bub3 {
        width: 20px;
        height: 20px;
        border: solid 1px;
        border-radius: 100%;
        background: $nav-color;
        margin-bottom: 5px;

      }
      .text3 {
        display: none;
        font-family: $main-font;
        font-size: 18px;
      }
    }
  }
  .review-your-cart {
    font-size: 18px;
    font-family: $main-font;
    color: black;
    margin-top: 75px;
    margin-left: 20px;
  }
  .cart-wrap {
    width: 360px;
    height: 225px;
    overflow-y: scroll;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    background: $nav-color;
    border-top: solid 1px;
    font-family: $main-font;
    font-size: 18px;
    .cart {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: solid 1px;
      .name {
        display: flex;
        justify-content: center;
        width: 80px;
      }
      .description {
        display: flex;
        justify-content: center;
        width: 80px;
      }
      .price {
        display: flex;
        justify-content: center;
        width: 80px;
      }
      .qty {
        display: flex;
        justify-content: center;
        width: 80px;
      }
    }
  }
  .tot-wrap {
    width: 360px;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-family: $main-font;
    .tot {
      margin-right: 20px;
    }
    .review-total {}
  }
  .edit-wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 18px;
    font-family: $main-font;
    position: absolute;
    bottom: 15px;
    .edit {
      width: 125px;
      background: $nav-color;
      border: solid 1px;
      transition: .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      padding: 10px 15px 10px 15px;
      cursor: pointer;
    }
    .edit:hover {
      color: $nav-color;
      background: $paper-text-color;
    }
    .proceed{
      width: 125px;
      background: $nav-color;
      border: solid 1px;
      transition: .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      padding: 10px 15px 10px 15px;
      cursor: pointer;
    }
    .proceed:hover {
      color: $nav-color;
      background: $paper-text-color;
    }
  }
}
.slide-in-info {
  position: fixed;
  top: 0px;
  right: 0px;
  background: $paper-text-color;
  color: $nav-color;
  height: 100vh;
  width: 0px;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 3;
  .icon-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    .icon {
      width: 100px;
      height: 100px;
      background: url('./../images/53-light.svg') no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .hr-wrap {
    width: 100%;
    position: absolute;
    top: 170px;
    display: flex;
    justify-content: space-around;
    .review-bubble {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      .bub11 {
        width: 20px;
        height: 20px;
        border: solid 1px;
        border-radius: 100%;
        background: #EB5E28;
        margin-bottom: 5px;
        transition: 1.5s;
        transition-delay: .5s;
      }
      .text11 {
        font-family: $main-font;
        font-size: 18px;
      }
    }
    .info-bubble {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      .bub22 {
        width: 20px;
        height: 20px;
        border: solid 1px;
        border-radius: 100%;
        background: $nav-color;
        margin-bottom: 5px;
        transition: 1.5s;
        transition-delay: .5s;
      }
      .text22 {
        display: none;
        font-family: $main-font;
        font-size: 18px;
      }
    }
    .confirm-bubble {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      .bub33 {
        width: 20px;
        height: 20px;
        border: solid 1px;
        border-radius: 100%;
        background: $nav-color;
        margin-bottom: 5px;

      }
      .text33 {
        display: none;
        font-family: $main-font;
        font-size: 18px;
      }
    }
  }
  .shipping-address{
    font-family: $main-font;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-top: 65px;
  }
  .address-wrap {
    width: 360px;
    margin: 25px 20px 0 20px;
    font-family: $main-font;
    font-size: 18px;
    .name{
      margin-bottom: 5px;
    }
    .name-input-wrap {
      margin-bottom: 20px;
      display: flex;
      .first-name {
        height: 30px;
        margin-right: 10px;
        font-size: 15px;
        border: solid 1px;
        border-radius: 3px;
        padding-left: 5px;
      }
      .first-name:focus {
        outline: none;
      }
      .last-name {
        height: 30px;
        font-size: 15px;
        border: solid 1px;
        border-radius: 3px;
        padding-left: 5px;
      }
      .last-name:focus {
        outline: none;
      }
    }
    .add-wrap {
      display: flex;
      .add-inner {
        display: flex;
        flex-direction: column;
        .address {
          margin-top: 5px;
        }
        .add-input {
          width: 290px;
          height: 30px;
          border: solid 1px;
          border-radius: 3px;
          margin-right: 10px;
          font-size: 15px;
          margin-top: 5px;
          padding-left: 5px;
        }
        .add-input:focus {
          outline: none;
        }
      }
      .apt-inner {
        display: flex;
        flex-direction: column;
        .apt {
          margin-top: 5px;
        }
        .apt-input {
          width: 60px;
          height: 30px;
          border: solid 1px;
          border-radius: 3px;
          font-size: 15px;
          margin-top: 5px;
          padding-left: 5px;
        }
        .apt-input:focus {
          outline: none;
        }
      }
    }
    .city-outer-wrap {
      display: flex;
      margin-top: 20px;
      .city-wrap {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        .city {}
        .city-input {
          width: 190px;
          height: 30px;
          font-size: 15px;
          margin-top: 5px;
          border: solid 1px;
          border-radius: 3px;
          padding-left: 5px;
        }
        .city-input:focus {
          outline: none;
        }
      }
      .state-wrap {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        .state {}
        .state-input {
          width: 50px;
          height: 30px;
          font-size: 15px;
          margin-top: 5px;
          border: solid 1px;
          border-radius: 3px;
          padding-left: 5px;
        }
        .state-input:focus {
          outline: none;
        }
      }
      .zip-wrap {
        display: flex;
        flex-direction: column;
        .zip {}
        .zip-input {
          width: 100px;
          height: 30px;
          font-size: 15px;
          margin-top: 5px;
          border: solid 1px;
          border-radius: 3px;
          padding-left: 5px;
        }
        .zip-input:focus {
          outline: none;
        }
      }
    }
  }
  .back-wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 18px;
    font-family: $main-font;
    position: absolute;
    bottom: 15px;
    color: $nav-color;
    .back {
      width: 125px;
      background: $paper-text-color;
      border: solid 1px $nav-color;
      transition: .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      padding: 10px 15px 10px 15px;
      cursor: pointer;
    }
    .back:hover {
      color: $paper-text-color;
      background: $nav-color;
    }
    .confirm{
      width: 125px;
      background: $paper-text-color;
      border: solid 1px;
      transition: .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      padding: 10px 15px 10px 15px;
      cursor: pointer;
    }
    .confirm:hover {
      color: $paper-text-color;
      background: $nav-color;
    }
  }
}
.slide-in-confirm {
  position: fixed;
  top: 0px;
  right: 0px;
  background: $nav-color;
  height: 100vh;
  width: 0px;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 4;
  .icon-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    .icon {
      width: 100px;
      height: 100px;
      background: url('./../images/53-dark.svg') no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .hr-wrap {
    width: 100%;
    position: absolute;
    top: 170px;
    display: flex;
    justify-content: space-around;
    .review-bubble {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      .bub111 {
        width: 20px;
        height: 20px;
        border: solid 1px;
        border-radius: 100%;
        background: #EB5E28;
        margin-bottom: 5px;
        transition: 1.5s;
        transition-delay: .5s;
      }
      .text111 {
        font-family: $main-font;
        font-size: 18px;
      }
    }
    .info-bubble {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      .bub222 {
        width: 20px;
        height: 20px;
        border: solid 1px;
        border-radius: 100%;
        background: #EB5E28;
        margin-bottom: 5px;
        transition: 1.5s;
        transition-delay: .5s;
      }
      .text222 {
        font-family: $main-font;
        font-size: 18px;
      }
    }
    .confirm-bubble {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20px;
      .bub333 {
        width: 20px;
        height: 20px;
        border: solid 1px;
        border-radius: 100%;
        background: $nav-color;
        margin-bottom: 5px;
        transition: 1.5s;
        transition-delay: .5s;

      }
      .text333 {
        display: none;
        font-family: $main-font;
        font-size: 18px;
      }
    }
  }
  .ship-to-wrap {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 18px;
    font-family: $main-font;
    display: flex;
    justify-content: space-around;
    .ship-to {
      font-size: 22px;
      margin-bottom: 20px;
      margin-right: 10px;
    }
    .cust-info-cont {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .names {
        display: flex;
        margin-bottom: 5px;
        .first {
          margin-right: 5px;
        }
        .last {}
      }
      .address {
        display: flex;
        margin-bottom: 5px;
        .add {
          margin-right: 10px;
        }
        .apt {
          margin-right: 5px;
        }
        .apt-num {}
      }
      .city-wrap {
        display: flex;
        margin-bottom: 5px;
        .city {
          margin-right: 5px;
        }
        .state {
          margin-right: 5px;
        }
        .zip {}
      }
    }
  }
  .credit-wrap {
    width: 360px;
    margin: 30px 20px;
    font-family: $main-font;
    font-size: 18px;
    .card-name {
      margin-bottom: 2px;
    }
    .card-name-input {
      width: 100%;
      height: 30px;
      padding-left: 5px;
      border-radius: 3px;
      margin-bottom: 5px;
      border: solid 1px;
      font-size: 15px;
    }
    .card-num {
      margin-bottom: 2px;
    }
    .card-num-input {
      width: 100%;
      height: 30px;
      padding-left: 5px;
      border-radius: 3px;
      margin-bottom: 5px;
      border: solid 1px;
      font-size: 15px;
    }
    .cvc-outer-wrap {
      display: flex;
      justify-content: space-between;
      .cvc-wrap {
        width: 80px;
        .cvc {
          margin-bottom: 2px;
        }
        .cvc-input {
          width: 80px;
          height: 30px;
          padding-left: 5px;
          border-radius: 3px;
          border: solid 1px;
          font-size: 15px;
        }
      }
      .exp-mo-wrap {
        width: 80px;
        .exp-mo {
          margin-bottom: 2px;
        }
        .exp-mo-input {
          width: 80px;
          height: 30px;
          padding-left: 5px;
          border-radius: 3px;
          border: solid 1px;
          font-size: 15px;
        }
      }
      .exp-year-wrap {
        width: 80px;
        .exp-year {
          margin-bottom: 2px;
        }
        .exp-year-input {
          width: 80px;
          height: 30px;
          padding-left: 5px;
          border-radius: 3px;
          border: solid 1px;
          font-size: 15px;
        }
      }
    }
  }
  .back-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 18px;
    font-family: $main-font;
    position: absolute;
    bottom: 15px;
    .back {
      width: 125px;
      background: $nav-color;
      border: solid 1px;
      transition: .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      padding: 10px 15px 10px 15px;
      cursor: pointer;
    }
    .back:hover {
      color: $nav-color;
      background: $paper-text-color;
    }
    .order{
      width: 125px;
      background: $nav-color;
      border: solid 1px;
      transition: .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      padding: 10px 15px 10px 15px;
      cursor: pointer;
      font-size: 18px;
      font-family: $main-font;
    }
    .order:hover {
      color: $nav-color;
      background: $paper-text-color;
    }
  }

}
.slide-in-fade {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.7);
}


//Place order
.place-order-wrap {
  width: 50px;
  height: 100px;
  position: fixed;
  background: #EB5E28;
  top: 200px;
  right: 0px;
  border-radius: 50% 0 0 50%;
  display: flex;
  justify-content: center;
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: $paper-text-color;
  .text {
    background: url('./../images/checkout.png');
    background-size: contain;
    display: flex;
    align-items: center;
  }
}
.place-order-wrap:active {
  background: #B33C12;
  animation-name: slideout;
  animation-duration: 1s;
}

@keyframes slideout {
  from {top: 200px; right: 0px}
  to {top: 200px; right: 20px}
}

.stripe-button {
  width: 50px;
  height: 50px;
  background: blue;
}
