<nav-dir></nav-dir>
<main class="cart-outer-wrapper" ng-controller='cartCtrl'>
  <p style="width: 100px; z-index: 2">
    <!-- {{userCart}} -->
  </p>
  <section class="cart-wrapper">
    <div class="your-cart">Your cart</div>
    <div class="pqt-wrapper">
      <div class="price">Price</div>
      <div class="quantity">Quantity</div>
      <div class="total">Total</div>
    </div>
    <hr>
    <!-- ▼ NG_REPEAT OVER THIS DIV ▼ -->
    <div class="cart-item-wrapper" ng-repeat='item in userCart.products track by $index'>
      <!-- {{item}} -->
      <div class="item-inner-wrapper">
        <div class="thumbnail-wrap">
          <img class='thumbnail' ng-src="./../..{{item.image_path}}" style='height: 100px; width: 100px' alt="{{item.name}}" />
        </div>
        <div class="name-wrapper">
          <div class="item-name">{{item.name}}</div>
          <div class="item-desc">{{item.prod_desc}}</div>
        </div>
        <div class="price">{{item.price | currency}}</div>
        <div class="qty">{{item.qty}}</div>
        <div class="add-sub-wrap">
          <div class="sub" ng-click='subtractQty(item.id, item.qty)'></div>
          <div class="add" ng-click='addQty(item.id, item.qty)'></div>
        </div>
        <div class="item-total">{{item.price * item.qty | currency}}</div>
      </div>
      <hr>
    </div>
    <div class="total-wrap">
      <div class="total">Total:</div>
      <div class="total-num">{{schmotal | currency}}</div>
    </div>
    <!-- <div class="checkout-wrap">
      <div class="shipping-wrap">
        <div class="shipping-to">Shipping to:</div>
        <div class="country-wrap">
          <div class="globe"></div>
          <div class="country"></div>
          <div class="menu"></div>
        </div>
      </div>
    </div> -->
  </section>
  <button ng-click='placeOrder(userCart.order.user_id, userCart.order.id)' type="button" style="position: fixed; bottom: 20px; right: 100px">Place Order</button>
</main>

<!-- <section class="add-extras-wrapper">
  <div class="add-extras">Add Extras</div>
  <div class="replacement-wrapper">
    <div class="replacement">Replacements Tips and Eraser</div>
    <div class="includes">Includes two tips and one eraser for Pencil</div>
    <div class="price">$7.95 USD</div>
    <div class="added">Add</div>
  </div>
  <div class=""></div>
</section> -->

<!-- PLACE ORDER POP OUT -->

<section class="place-order-wrap">
  <div class="text"></div>
</section>



<footer-dir></footer-dir>
