<nav-dir></nav-dir>
<section ng-controller='cartCtrl'>
<main class="cart-outer-wrapper">
  <p style="width: 100px; z-index: 2">
    <!-- {{userCart}} -->
  </p>
  <section class="cart-wrapper">
    <div class="your-cart">Your cart</div>
    <div class="pqt-wrapper">
      <div class="price">Price</div>
      <div class="quantity">Quantity</div>
      <div class="total">Total</div>
    </div>
    <hr>
    <!-- ▼ NG_REPEAT OVER THIS DIV ▼ -->
    <div class="cart-item-wrapper" ng-repeat='item in userCart.products track by $index'>
      <!-- {{item}} -->
      <div class="item-inner-wrapper">
        <div class="thumbnail-wrap">
          <img class='thumbnail' ng-src="./../..{{item.image_path}}" style='height: 100px; width: 100px' alt="{{item.name}}" />
        </div>
        <div class="name-wrapper">
          <div class="item-name">{{item.name}}</div>
          <div class="item-desc">{{item.prod_desc}}</div>
        </div>
        <div class="price">{{item.price | currency}}</div>
        <div class="qty">{{item.qty}}</div>
        <div class="add-sub-wrap">
          <div class="sub" ng-click='subtractQty(item.id, item.qty)'></div>
          <div class="add" ng-click='addQty(item.id, item.qty)'></div>
        </div>
        <div class="item-total">{{item.price * item.qty | currency}}</div>
      </div>
      <hr>
    </div>
    <div class="total-checkout-wrap">
      <div class="total-wrap">
        <div class="total">Total:</div>
        <div class="total-num">{{schmotal | currency}}</div>
      </div>
      <div class="checkout-btn">Checkout</div>
    </div>
    <!-- <div class="checkout-wrap">
      <div class="shipping-wrap">
        <div class="shipping-to">Shipping to:</div>
        <div class="country-wrap">
          <div class="globe"></div>
          <div class="country"></div>
          <div class="menu"></div>
        </div>
      </div>
    </div> -->
  </section>

  <!-- <button ng-click='placeOrder(userCart.order.user_id, userCart.order.id)' type="button" style="position: fixed; bottom: 20px; right: 100px">Place Order</button> -->
</main>



<!-- //checkout slide -->
<!-- REVIEW -->
<section class="slide-in-review">
  <div class="icon-wrap">
    <div class="icon"></div>
  </div>
  <hr>
  <div class="hr-wrap">
    <div class="review-bubble">
      <div class="bub1"></div>
      <div class="text1">Review</div>
    </div>
    <div class="info-bubble">
      <div class="bub2"></div>
      <div class="text2">Shipping</div>
    </div>
    <div class="confirm-bubble">
      <div class="bub3"></div>
      <div class="text3">Confirm</div>
    </div>
  </div>
  <div class="review-your-cart">Your cart</div>
  <div class="cart-wrap">
    <div class="cart" ng-repeat='item in userCart.products track by $index'>
      <div class="name">{{item.name}}</div>
      <div class="description">{{item.prod_desc}}</div>
      <div class="qty">qty: {{item.qty}}</div>
      <div class="price">{{item.price}}</div>
      <!-- <div class="item-total">total: {{item.qty * item.price}}</div> -->
    </div>
  </div>
  <div class="tot-wrap">
    <div class="tot">Total:</div>
    <div class="review-total">{{schmotal | currency}}</div>
  </div>
  <div class='edit-wrap'>
    <div class="edit">Edit cart</div>
    <div class="proceed">Shipping</div>
  </div>
</section>
<!-- INFO -->
<section class="slide-in-info" >
  <div class="icon-wrap">
    <div class="icon"></div>
  </div>
  <hr>
  <div class="hr-wrap">
    <div class="review-bubble">
      <div class="bub11"></div>
      <div class="text11">Review</div>
    </div>
    <div class="info-bubble">
      <div class="bub22"></div>
      <div class="text22">Shipping</div>
    </div>
    <div class="confirm-bubble">
      <div class="bub33"></div>
      <div class="text33">Confirm</div>
    </div>
  </div>
  <div class="shipping-address">Shipping address</div>
  <div class="address-wrap">
    <div class="name">Name:</div>
    <div class="name-input-wrap">
      <input ng-model="firstName" class='first-name' type="text" name="name" placeholder="first name">
      <input ng-model="lastName" class='last-name' type="text" name="" placeholder="last name">
    </div>
    <div class="add-wrap">
      <div class="add-inner">
        <div class="address">Address:</div>
        <input ng-model="street" class='add-input' type="text" name="name" placeholder="street address" required>
      </div>
      <div class="apt-inner">
        <div class="apt">Apt:</div>
        <input ng-model="apt" class='apt-input' type="text" name="name" placeholder="apt #">
      </div>
    </div>
    <div class="city-outer-wrap">
      <div class="city-wrap">
        <div class="city">City:</div>
        <input ng-model="city" class='city-input' type="text" name="name" placeholder="city" required>
      </div>
      <div class="state-wrap">
        <div class="state">State:</div>
        <input ng-model='state' class="state-input" type="text" name="name" placeholder="state" required>
      </div>
      <div class="zip-wrap">
        <div class="zip">Zip code:</div>
        <input ng-model='zip' class='zip-input' type="text" name="name" placeholder="zip code" required>
      </div>
    </div>
  </div>
  <div class='back-wrap'>
    <div class="back">Back</div>
    <div class="confirm" ng-click='makeCust(firstName, lastName, street, apt, city, state, zip)'>Proceed</div>
  </div>
</section>
<!-- CONFIRM -->
<section class="slide-in-confirm">
  <div class="icon-wrap">
    <div class="icon"></div>
  </div>
  <hr>
  <div class="hr-wrap">
    <div class="review-bubble">
      <div class="bub111"></div>
      <div class="text111">Review</div>
    </div>
    <div class="info-bubble">
      <div class="bub222"></div>
      <div class="text222">Shipping</div>
    </div>
    <div class="confirm-bubble">
      <div class="bub333"></div>
      <div class="text333">Confirm</div>
    </div>
  </div>
  <div class="ship-to-wrap">
      <div class="ship-to">Ship to:</div>
      <div class="cust-info-cont">
      <div class="names">
        <div class="first">{{cust.firstName}}</div>
        <div class="first">{{cust.lastName}}</div>
      </div>
      <div class="address">
        <div class="add">{{cust.street}}</div>
        <div class="apt">Apt</div>
        <div class="apt-num">{{cust.apt}}</div>
      </div>
      <div class="city-wrap">
        <div class="city">{{cust.city}},</div>
        <div class="state">{{cust.state}}</div>
        <div class="zip">{{cust.zip}}</div>
      </div>
    </div>
  </div>
  <form ng-submit='charge(payment)'>
    <section class="credit-wrap">
      <div class="card-name">Name on card:</div>
      <input class='card-name-input' type="text" name="name" required>
      <div class="card-num">Card number:</div>
      <input ng-model="payment.card.number" class='card-num-input' type="text" required>
      <div class="cvc-outer-wrap">
        <div class="cvc-wrap">
          <div class="cvc">CVC:</div>
          <input ng-model="payment.card.cvc" class='cvc-input' type="text" required>
        </div>
        <div class="exp-mo-wrap">
          <div class="exp-mo">Exp. Mo</div>
          <input ng-model="payment.card.exp_month" class='exp-mo-input' type="text" name="name" placeholder="MM">
        </div>
        <div class="exp-year-wrap">
          <div class="exp-year">Exp. Mo</div>
          <input ng-model="payment.card.exp_year" class='exp-year-input' type="text" name="name" placeholder="YY">
        </div>
      </div>
    </section>

    <div class='back-container'>
      <div class="back-confirm">Back</div>
      <button type='sumbit' class="order" ng-click='passValues(userCart.order.user_id, userCart.order.id, schmotal)'>Confirm</button>
    </div>
  </form>
</section>

<section class="slide-in-fade"></section>






<!-- <section class="add-extras-wrapper">
  <div class="add-extras">Add Extras</div>
  <div class="replacement-wrapper">
    <div class="replacement">Replacements Tips and Eraser</div>
    <div class="includes">Includes two tips and one eraser for Pencil</div>
    <div class="price">$7.95 USD</div>
    <div class="added">Add</div>
  </div>
  <div class=""></div>
</section> -->

<!-- PLACE ORDER POP OUT -->

<!-- <section class="place-order-wrap">
  <div class="text"></div>
</section> -->

<!-- allllllll -->
</section>
<!-- sladkfjads;lfj -->

<footer-dir></footer-dir>


<!-- //stripe
<section ng-controller='cartCtrl'>
  <form id="payment-form" ng-submit="charge(payment)">
    <span class="payment-errors"></span>
      <section class="checkout-header">
        <h1>Checkout</h1>

      </section>

      <section class="checkout-body">
        <div class="">
          <input  placeholder="Name on Card">
        </div>
      <div class="">
        <input ng-model="payment.card.number" placeholder="Card Number">
      </div>
      <section class="checkout-exp-cvc">
        <div class="checkout-exp">
          <span>Expire</span>
          <div class="">
            <input id="exp-input" ng-model="payment.card.exp_month"
            placeholder="MM">
          <input id="exp-input" type="text"  ng-model="payment.card.exp_year"
          placeholder="YY">
          </div>
        </div>
      <div class="checkout-cvc">
        <span>CVC</span>
        <div class="">
        <input id="exp-input" type="text" size="4" ng-model="payment.card.cvc"
        placeholder="CVC">
      </div>
    </div>
    </section>

        <div class="checkout-payment">
          <input type="submit" class="submit" value="Submit Payment" ng-click='passValues(userCart.order.user_id, userCart.order.id, schmotal)'>
        </div>
      </section>

  </form>

</section> -->
